html, body {
	overflow-y: hidden;
}

html,body,ul,li {
	height: 100%;
	background: #ffffff;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	-webkit-text-size-adjust: none;
	font-family: Ubuntu, Arial, "libra sans", sans-serif;
}

h1 {
	font-size: 36px;
	margin: 15px;
	text-align: center;
	color: #666;
	font-weight: normal;
}

#linx{
	position:absolute;
	bottom: 4px;
	left:43%;
}

a {
	margin: 0 0 0 10px;
	font-size: 18px;
	color: #3c3c3c;
}

.swipe {
	height:100%;
	position: relative;
	z-index: 1;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.swipe li div {
	height: 100%;
	padding: 50px 10px;
	color: #000;
	font-size: 20px;
	text-align: center;
}

.text{
	font-size: 30px;
	text-align: left;
}

.scrollable {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.citat {
	font-size: 45px;
	color: #aea79f;
}