html,body,ul,li {
	width: 100%;
	height:100%;
	background: #ffffff;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	height:100%;
	width:100%;
	-webkit-text-size-adjust: none;
	font-family: Ubuntu, Arial, "libra sans", sans-serif;
}

h1 {
	font-size: 36px;
	margin: 15px;
	text-align: center;
	color: #666;
	font-weight: normal;
}

#linx{
	position:absolute;
	bottom:0;
	left:47%;
}

a {
	margin: 0 0 0 10px;
	font-size: 18px;
	color: #3c3c3c;
}

.swipe {
	height:100%;
	position: relative;
	z-index: 1;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.swipe li div,.swipe div div div {
	padding: 50px 10px;
	color: #000;
	font-size: 20px;
	text-align: center;
}